@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

/* Убираем стрелочки в Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Убираем стрелочки в Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont.woff2") format("truetype-variations");
  font-weight: 400 700;
  font-size: normal;
}
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-surface-default: #fff;
  --color-primary: #1a1a1a;
  --color-secondary: #666;
  --color-neutral-muted: #e0e0e0;
  --color-accent: #2563eb;
  --color-danger: #dc2626;
  --color-surface-subtle: #f5f5f5;
  --color-accent-active: #1e4fdb;
  --color-primary-hover: #2d2d2d;
  --color-primary-active: #0d0d0d;
  --font-family: "Inter", sans-serif;
  --second-family: "Bebas", sans-serif;
  --gap: 24px;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--color-surface-subtle);
}

.container {
  width: 100%;
  padding: 0 24px;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 12;
  background-color: rgba(26, 26, 26, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
.overlay--visible {
  opacity: 1;
  visibility: visible;
}

.simplebar-track.simplebar-vertical {
  right: 4px;
  width: 4px;
  background-color: var(--color-surface-subtle);
  border-radius: 10px;
}

.simplebar-scrollbar::before {
  inset: 0 !important;
  opacity: 1 !important;
  background-color: var(--color-secondary) !important;
  border-radius: 10px;
}

.simplebar-content::after,
.simplebar-content::before {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
}

.custom-checkbox {
  position: relative;
}
.custom-checkbox__field {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.custom-checkbox__content {
  padding-left: 28px;
  cursor: pointer;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-primary);
}
.custom-checkbox__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid var(--color-neutral-muted);
}
.custom-checkbox__content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-image: url("../img/icons/check.svg");
  background-position: center;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-color: var(--color-surface-default);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
  background-color: var(--color-accent);
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

.custom-radio {
  position: relative;
}
.custom-radio__field {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}
.custom-radio__content {
  padding-left: 28px;
  cursor: pointer;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-primary);
}
.custom-radio__content::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid var(--color-neutral-muted);
}
.custom-radio__content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-image: url("../img/icons/radio-check.svg");
  background-position: center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-color: var(--color-surface-default);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 100%;
}

.custom-radio__field:checked + .custom-radio__content::after {
  opacity: 1;
  background-color: var(--color-accent);
}

.custom-radio__field:focus + .custom-radio__content::before {
  outline: 2px solid var(--color-accent);
  outline-offset: 2px;
}

.custom-radio__field:disabled + .custom-radio__content {
  opacity: 0.4;
  pointer-events: none;
}

.price-range {
  width: 100%;
  height: 2px;
}
.price-range.noUi-target {
  margin-left: 12px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: var(--color-neutral-muted);
}
.price-range.noUi-target::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width: 12px;
  height: 2px;
  background-color: var(--color-neutral-muted);
}
.price-range.noUi-target .noUi-handle {
  top: -5px;
  width: 12px;
  height: 12px;
}
.price-range.noUi-target .noUi-handle-lower {
  right: 0;
}
.price-range.noUi-target .noUi-handle-upper {
  right: 0;
}
.price-range .noUi-connect {
  background-color: var(--color-secondary);
}
.price-range .noUi-handle {
  border: 2px solid var(--color-secondary);
  border-radius: 100%;
  box-shadow: none;
  background-color: var(--color-surface-subtle);
}
.price-range .noUi-handle::before, .price-range .noUi-handle::after {
  display: none;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 122%;
  text-transform: uppercase;
  color: var(--color-accent);
  padding: 18px 38px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.3s ease-in, color 0.3s ease-in, background-color 0.3s ease-in;
}
.btn--primary {
  color: var(--color-surface-default);
  background-color: var(--color-accent);
}
.btn--primary:focus {
  outline: none;
}
.btn--primary:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 3px;
}
.btn--primary:hover {
  background-color: var(--color-surface-default);
  color: var(--color-accent);
  border-color: var(--color-accent);
}
.btn--primary:active {
  background-color: var(--color-accent-active);
  color: var(--color-surface-default);
  border-color: var(--color-accent-active);
}
.btn--secondary {
  border-color: var(--color-surface-default);
  color: var(--color-accent);
  background-color: var(--color-surface-default);
}
.btn--secondary:focus {
  outline: none;
}
.btn--secondary:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 3px;
}
.btn--secondary:hover {
  background-color: var(--color-accent);
  color: var(--color-surface-default);
  border-color: var(--color-accent);
}
.btn--secondary:active {
  background-color: var(--color-accent-active);
  color: var(--color-surface-default);
  border-color: var(--color-accent-active);
}
.btn--tretiary {
  border-color: var(--color-accent);
  color: var(--color-accent);
  background-color: var(--color-surface-default);
}
.btn--tretiary:focus {
  outline: none;
}
.btn--tretiary:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 3px;
}
.btn--tretiary:hover {
  background-color: var(--color-accent);
  color: var(--color-surface-default);
  border-color: var(--color-accent);
}
.btn--tretiary:active {
  background-color: var(--color-accent-active);
  color: var(--color-surface-default);
  border-color: var(--color-accent-active);
}
.btn--quinary {
  border-color: transparent;
  color: var(--color-accent);
  background-color: transparent;
}
.btn--quinary:focus {
  outline: none;
}
.btn--quinary:focus-visible {
  outline: 2px solid var(--color-accent);
  outline-offset: 3px;
}
.btn--quinary:hover {
  background-color: var(--color-accent);
  color: var(--color-surface-default);
  border-color: var(--color-accent);
}
.btn--quinary:active {
  background-color: var(--color-accent-active);
  color: var(--color-surface-default);
  border-color: var(--color-accent-active);
}

.to-top {
  position: fixed;
  right: 44px;
  bottom: 44px;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 4px;
  width: 32px;
  height: 32px;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
  background: var(--color-surface-default);
  opacity: 0;
  visibility: hidden;
}
.to-top--visible {
  opacity: 1;
  visibility: visible;
}

.cookie-block {
  position: fixed;
  left: 32px;
  bottom: 32px;
  z-index: 15;
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 24px;
  border-radius: 4px;
  box-shadow: 4px 4px 20px 0 rgba(235, 224, 224, 0.25);
  background: var(--color-surface-default);
}
.cookie-block--close {
  display: none;
}

.cookie-block__title {
  margin-bottom: 8px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-primary);
}

.cookie-block__desc {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-primary);
}

.small-input {
  border: 1px solid var(--color-neutral-muted);
  padding: 0 16px;
  width: 100%;
  height: 44px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--color-primary);
}
.small-input::-moz-placeholder {
  color: var(--color-secondary);
}
.small-input::placeholder {
  color: var(--color-secondary);
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 20;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(26, 26, 26, 0.7);
}
.modal--open {
  display: flex;
}

.modal__container {
  position: relative;
  max-width: 400px;
  width: 100%;
  border-radius: 4px;
  box-shadow: 4px 4px 12px 0 rgba(235, 224, 224, 0.25);
  background: var(--color-surface-default);
  padding: 44px 48px 32px;
}

.modal__close {
  position: absolute;
  top: 12px;
  right: 12px;
}

.enter-modal__back {
  position: absolute;
  top: 12px;
  left: 12px;
}

.enter-modal__step {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enter-modal__step--first {
  display: flex;
}
.enter-modal__step--first-close {
  display: none;
}
.enter-modal__step--second {
  display: none;
}
.enter-modal__step--second-open {
  display: flex;
}

.enter-modal__title {
  margin-bottom: 16px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary);
}

.enter-modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.enter-modal__label {
  width: 100%;
}

.enter-modal__input {
  width: 100%;
  color: var(--color-primary);
}
.enter-modal__input::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--color-secondary);
}
.enter-modal__input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--color-secondary);
}

.enter-modal__form-btn {
  padding: 10px 38px;
  width: 100%;
}

.enter-modal__descr {
  margin-bottom: 16px;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--color-primary);
}

.enter-modal__code-input {
  margin-bottom: 12px;
}

.enter-modal__text {
  font-size: 12px;
  line-height: 140%;
  text-align: center;
  color: var(--color-secondary);
}

.mini-cart {
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  width: 340px;
  height: calc(100vh - 80px);
  border-top: 1px solid var(--color-neutral-muted);
  border-left: 1px solid var(--color-neutral-muted);
  background-color: var(--color-surface-default);
  visibility: hidden;
  transform: translateX(100%);
  transition: transform 0.3s ease-in, visibility 0.3s ease-in;
}
.mini-cart--active {
  transform: none;
  visibility: visible;
}

.mini-cart__top {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 18px 24px;
}

.mini-cart__title {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 122%;
  text-transform: uppercase;
  color: var(--color-primary);
}
.mini-cart__title span {
  position: absolute;
  right: -11px;
  top: -4px;
  font-size: 12px;
  color: var(--color-secondary);
}

.mini-cart__close {
  width: 20px;
  aspect-ratio: 1;
}

.mini-cart__content {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.mini-cart__products {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 0;
  padding: 0 12px;
  padding-bottom: 12px;
}
.mini-cart__products .simplebar-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.mini-cart__bottom {
  margin-top: 12px;
}

.mini-cart__btn {
  display: flex;
}

.stepper {
  position: relative;
  z-index: 10;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  width: 84px;
  padding: 8px;
  background-color: var(--color-neutral-muted);
}

.stepper__minus {
  display: flex;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}

.stepper__input {
  width: 20px;
  height: 12px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: var(--color-primary);
}

.stepper__plus {
  display: flex;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
}

.stepper__disabled {
  opacity: 0.7;
  pointer-events: none;
}

.mini-cart-product {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 17px;
  border: 1px solid var(--color-neutral-muted);
  padding: 8px;
  background-color: var(--color-surface-default);
}

.mini-cart-product__top {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.mini-cart-product__image {
  flex-shrink: 0;
}

.mini-cart-product__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--color-primary);
}
.mini-cart-product__link::after {
  content: "";
  position: absolute;
  inset: 0;
}

.mini-cart-product__delete {
  margin-left: auto;
  flex-shrink: 0;
}

.mini-cart-product__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.mini-cart-product__price {
  flex-shrink: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-primary);
}

.mini-cart__result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  border-top: 1px solid var(--color-neutral-muted);
}

.mini-cart__text {
  font-weight: 600;
  font-size: 16px;
  line-height: 122%;
  text-transform: uppercase;
  color: var(--color-primary);
}

.mini-cart__summ {
  font-weight: 600;
  font-size: 16px;
  line-height: 122%;
  text-transform: uppercase;
  color: var(--color-primary);
}

.nav__list {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.nav__link {
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-secondary);
  transition: 0.3s color ease-in;
}
.nav__link:focus {
  outline: none;
}
.nav__link:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 3px;
}
.nav__link:hover {
  color: var(--color-primary);
}
.nav__link:active {
  color: var(--color-primary-active);
}

.header-btn {
  width: 237px;
  display: inline-flex;
  align-self: center;
  gap: 12px;
  padding: 20px 24px;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-primary);
  border-right: 1px solid var(--color-neutral-muted);
  transition: 0.3s color ease-in;
}
.header-btn:focus {
  outline: none;
}
.header-btn:focus-visible {
  outline: 1px solid currentColor;
}
.header-btn:hover {
  color: var(--color-accent);
}
.header-btn--active .header-btn__angel {
  rotate: 180deg;
}

.header-btn__burger {
  display: flex;
  align-self: center;
  width: 16px;
  height: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-btn__angel {
  display: flex;
  margin-left: auto;
  width: 16px;
  height: 17px;
  transition: rotate 0.3s ease-in;
}

.header-search {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.header-search__label {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}
.header-search__input {
  width: 100%;
  color: var(--color-primary);
  padding-left: 52px;
}
.header-search__input::-moz-placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-secondary);
}
.header-search__input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-secondary);
}
.header-search__icon {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  aspect-ratio: 1;
}

.search-result-product {
  position: relative;
  display: flex;
  gap: 20px;
  padding: 16px;
  width: 445px;
  background-color: var(--color-surface-default);
  border: 1px solid var(--color-neutral-muted);
}
.search-result-product::after {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 12px;
  height: 13px;
  background-image: url("../img/icons/arrow-right-down.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-result-product__text {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.search-result-product__brand {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.search-result-product__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-primary);
}
.search-result-product__link::after {
  content: "";
  position: absolute;
  inset: 0;
}

.search-result-product__price {
  margin-top: auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: var(--color-primary);
}

.search-result {
  position: absolute;
  left: 0;
  top: 156px;
  z-index: 14;
  display: flex;
  height: calc(100vh - var(--header-height));
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  background-color: var(--color-surface-subtle);
}
.search-result--visible {
  opacity: 1;
  visibility: visible;
}

.search-result__nav {
  width: 474px;
  height: 100%;
  background-color: var(--color-surface-default);
  border-right: 1px solid var(--color-neutral-muted);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.search-result__title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 122%;
  text-transform: uppercase;
  color: var(--color-primary);
}

.search-result__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.search-result__btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-primary);
  transition: color 0.3s ease-in;
}
.search-result__btn:focus {
  outline: none;
}
.search-result__btn:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}
.search-result__btn:hover {
  color: var(--color-accent);
}
.search-result__btn:active {
  color: var(--color-accent-active);
}

.search-result__content {
  padding: var(--gap);
  width: calc(100% - 474px);
}

.search-result__inner {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.megamenu {
  position: absolute;
  left: 0;
  top: 156px;
  z-index: 14;
  display: flex;
  height: calc(100vh - var(--header-height));
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
  background-color: var(--color-surface-default);
}
.megamenu--visible {
  opacity: 1;
  visibility: visible;
}

.megamenu__nav {
  background-color: var(--color-surface-subtle);
}

.megamenu__list {
  width: 474px;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
}

.megamenu__item {
  width: 100%;
}

.megamenu__btn {
  width: 100%;
  padding: 8px 24px;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-primary);
  text-align: left;
  background-color: transparent;
  transition: background-color 0.3s ease-in;
}
.megamenu__btn:hover {
  background-color: var(--color-surface-default);
}
.megamenu__btn--active {
  background-color: var(--color-surface-default);
}

.megamenu__content {
  padding: var(--gap);
  width: calc(100% - 474px);
}

.megamenu__items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.megamenu__link {
  width: 250px;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 24px;
  background-color: var(--color-surface-subtle);
  border: 1px solid var(--color-neutral-muted);
}

.megamenu__link-img {
  margin-bottom: 20px;
  height: 72px;
  -o-object-fit: contain;
     object-fit: contain;
}

.megamenu__link-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 122%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary);
}

.megamenu__link-quantity {
  font-weight: 600;
  font-size: 16px;
  line-height: 122%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-secondary);
}

.loop-scroll {
  --_animation-duration: 20s;
  padding: 20px 4px;
  background-color: var(--color-surface-subtle);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-accent);
  white-space: nowrap;
}
.loop-scroll__inner {
  display: flex;
  gap: 8px;
}

.loop-scroll[data-animated=true] .loop-scroll__inner {
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.products-tabs {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 8px;
}

.products-tabs__btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 447px;
  padding: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 122%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary);
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}
.products-tabs__btn:focus {
  outline: none;
}
.products-tabs__btn:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 3px;
}
.products-tabs__btn:hover {
  color: var(--color-surface-default);
  background-color: var(--color-primary);
}
.products-tabs__btn:hover .products-tabs__btn-quantity {
  color: var(--color-surface-default);
}
.products-tabs__btn:active {
  color: var(--color-surface-default);
  background-color: var(--color-primary-active);
}
.products-tabs__btn:active .products-tabs__btn-quantity {
  color: var(--color-surface-default);
}
.products-tabs__btn--active {
  color: var(--color-surface-default);
  background-color: var(--color-primary);
  pointer-events: none;
}
.products-tabs__btn--active .products-tabs__btn-quantity {
  color: var(--color-surface-default);
}

.products-tabs__btn-quantity {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-secondary);
  transition: color 0.3s ease-in;
}

.product {
  position: relative;
  padding: 24px 28px;
  box-shadow: 4px 4px 20px 0 rgba(235, 224, 224, 0.25);
  background-color: var(--color-surface-default);
  min-height: 550px;
}
.product__top {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.product__bottom {
  display: flex;
  flex-direction: column;
}

.product__favorite {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  width: 40px;
  height: 40px;
  padding: 8px;
  background: var(--color-neutral-muted);
}

.product__bages {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}

.product__brand {
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.product__title {
  margin-bottom: 16px;
}

.product__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-primary);
}
.product__link::after {
  content: "";
  position: absolute;
  inset: 0;
}

.product__price {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-primary);
}

.product__btn {
  position: relative;
  z-index: 4;
}

.bage {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-primary);
  padding: 4px 8px;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  background-color: var(--color-surface-default);
  cursor: pointer;
  transition: color 0.3s ease-in, border-color 0.3s ease-in;
}
.bage:hover {
  color: var(--color-accent);
  border-color: var(--color-primary);
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;
}
.breadcrumbs__item:not(:last-child) .breadcrumbs__link::after {
  content: "/";
  color: var(--color-secondary);
}
.breadcrumbs__link {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 122%;
  text-transform: uppercase;
  color: var(--color-secondary);
}
.breadcrumbs__link[href] {
  color: var(--color-primary);
}

.catalog-filter-badge {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  background: var(--color-neutral-muted);
  font-size: 16px;
  line-height: 140%;
  color: var(--color-primary);
  white-space: nowrap;
}

.catalog-filter-badge__close {
  width: 20px;
  height: 20px;
}

.catalog-filter {
  display: flex;
  flex-direction: column;
}
.catalog-filter:not(:first-child) {
  border-top: 1px solid var(--color-neutral-muted);
}
.catalog-filter__block {
  position: relative;
  margin-left: calc(-1 * var(--gap));
  padding: var(--gap);
  border-bottom: 1px solid var(--color-neutral-muted);
}
.catalog-filter__block--open .catalog-filter__inner {
  opacity: 1;
  visibility: visible;
}
.catalog-filter__block--open .catalog-filter__btn::after {
  rotate: 90deg;
}
.catalog-filter__btn {
  position: absolute;
  right: var(--gap);
  top: var(--gap);
  width: 20px;
  height: 20px;
}
.catalog-filter__btn::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 12px;
  height: 2px;
  border-radius: 10px;
  background-color: var(--color-primary);
}
.catalog-filter__btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  width: 2px;
  height: 12px;
  border-radius: 10px;
  background-color: var(--color-primary);
  rotate: 0;
  transition: rotate 0.3s ease-in;
}
.catalog-filter__inner {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in;
}
.catalog-filter__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-primary);
}
.catalog-filter__items {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.catalog-filter__price {
  margin-top: 20px;
}
.catalog-filter__price-inputs {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.catalog-filter__price-inputs-divider {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 120%;
  color: var(--color-secondary);
}
.catalog-filter__price-range {
  height: 12px;
  display: flex;
  align-items: center;
}

.header {
  position: relative;
  z-index: 14;
  background-color: var(--color-surface-default);
}

.header__top {
  padding: 21px 0;
  border-bottom: 1px solid var(--color-neutral-muted);
  background-color: var(--color-surface-default);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 32px;
  font-family: var(--second-family);
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-primary);
}

.header__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__action {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.header__action:focus {
  outline: none;
}
.header__action:focus-visible {
  outline: 2px solid var(--color-primary);
  outline-offset: 3px;
}

.header__action-count {
  position: absolute;
  top: 0;
  right: -18px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-surface-default);
}
.header__action-count--fav {
  width: 14px;
  height: 14px;
  background: var(--color-primary);
}
.header__action-count--cart {
  width: 14px;
  height: 14px;
  background: var(--color-accent);
}

.header__cabinet {
  display: flex;
  align-items: center;
  gap: 4px;
  text-transform: uppercase;
  color: var(--color-primary);
}

.header__fav,
.header__cart {
  width: 24px;
  height: 24px;
}
.header__fav svg path,
.header__cart svg path {
  fill: var(--color-primary);
  transition: 0.3 fill ease-in;
}
.header__fav:hover svg path,
.header__cart:hover svg path {
  fill: var(--color-primary);
}
.header__fav:active svg path,
.header__cart:active svg path {
  fill: var(--color-primary-active);
}

.header__bottom {
  border-bottom: 1px solid var(--color-neutral-muted);
}

.header__enter {
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-primary);
}

.header__phone {
  margin-left: auto;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-primary);
  transition: 0.3s color ease-in;
}
.header__phone:hover {
  color: var(--color-accent);
}

.header__catalog {
  margin-left: calc(-1 * var(--gap));
}

.hero {
  position: relative;
  overflow: hidden;
  display: flex;
}
.hero__image, .hero__text {
  width: 50%;
}

.hero__image img {
  width: 100%;
  height: 100%;
}

.hero__text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 40px;
  background-color: var(--color-accent);
}

.hero__title {
  margin-bottom: 16px;
  max-width: 480px;
  font-family: var(--second-family);
  font-size: 72px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-surface-default);
}

.hero__descr {
  margin-bottom: 28px;
  max-width: 540px;
  font-size: 20px;
  line-height: 140%;
  color: var(--color-surface-default);
}

.hero__decor {
  position: absolute;
  top: 45px;
  right: -212px;
  pointer-events: none;
  mix-blend-mode: hard-light;
}

.main-categories {
  border-bottom: 1px solid var(--color-neutral-muted);
}
.main-categories__list {
  display: flex;
}
.main-categories__item {
  width: 25%;
}
.main-categories__item:not(:last-child) .main-categories__link {
  border-right: 1px solid var(--color-neutral-muted);
}
.main-categories__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 260px;
  background: var(--color-surface-default);
}
.main-categories__link:focus {
  outline: none;
}
.main-categories__link:focus-visible {
  outline: 1px solid var(--color-primary);
  outline-offset: 2px;
}

.main-categories__icon {
  margin-bottom: 12px;
}

.main-categories__subtitle {
  margin-bottom: 8px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-primary);
}

.main-categories__quantity {
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: var(--color-secondary);
}

.products {
  padding: 100px 0;
  background-color: var(--color-surface-subtle);
}
.products__top {
  margin-bottom: 40px;
  display: flex;
  border: 1px solid var(--color-neutral-muted);
}
.products__tabs {
  flex-grow: 1;
}
.products__all-btn {
  width: 456px;
  flex-shrink: 0;
  border-left: 1px solid var(--color-neutral-muted);
  padding: 8px;
}
.products__inner {
  display: none;
}
.products__inner--active {
  display: block;
}
.products__slider {
  margin: -20px;
  padding: 20px;
}
.products__slider .swiper-slide {
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.products__slider .swiper-slide-visible {
  opacity: 1;
}
.products__btn {
  width: 100%;
}
.products__nav {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.products__nav-btns {
  display: flex;
  justify-content: space-between;
}
.products__slider-btn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 122%;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.swiper-scrollbar {
  position: sticky !important;
  width: 100% !important;
  height: 1px !important;
  border-radius: 0 !important;
  background-color: var(--color-neutral-muted) !important;
}
.swiper-scrollbar .swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: var(--color-secondary) !important;
  width: 30% !important;
}

.subscribe {
  padding: 64px 0;
  background-color: var(--color-surface-default);
}
.subscribe__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__title {
  margin-bottom: 12px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  color: var(--color-primary);
}

.subscribe__desc {
  margin-bottom: 40px;
  max-width: 465px;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: var(--color-secondary);
}

.subscribe__form {
  display: flex;
  align-items: center;
  gap: 16px;
}

.subscribe__input {
  width: 500px;
  height: 60px;
}

.footer {
  background-color: var(--color-primary);
  padding: 64px 0 24px;
}
.footer__col {
  grid-column: 3 span;
}
.footer__top {
  margin-bottom: 100px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.footer__logo {
  position: relative;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-surface-default);
}
.footer__logo::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0px;
  height: 1.5px;
  background-color: var(--color-surface-default);
  transition: 0.3s ease-in;
}
.footer__logo:hover::before {
  width: 100%;
}

.footer__title {
  margin-bottom: 32px;
  font-family: var(--second-family);
  font-size: 32px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-surface-default);
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__item {
  font-size: 16px;
  line-height: 140%;
  color: var(--color-surface-default);
}

.footer__link {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-surface-default);
}
.footer__link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0px;
  height: 1.5px;
  background-color: var(--color-surface-default);
  transition: 0.3s ease-in;
}
.footer__link:hover::before {
  width: 100%;
}

.footer__copy {
  font-size: 16px;
  line-height: 140%;
  color: var(--color-secondary);
}

.footer__bottom-links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.footer__bottom-link {
  position: relative;
  font-size: 16px;
  line-height: 140%;
  color: var(--color-secondary);
  transition: color 0.3s ease-in;
}
.footer__bottom-link::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0px;
  height: 1.5px;
  background-color: var(--color-surface-default);
  transition: 0.3s ease-in;
}
.footer__bottom-link:hover {
  color: var(--color-surface-default);
}
.footer__bottom-link:hover::before {
  width: 100%;
}

.inner-hero {
  padding-top: var(--gap);
  padding-bottom: 64px;
}
.inner-hero__title {
  margin-top: 60px;
  font-family: var(--second-family);
  font-size: 100px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-primary);
}

.catalog__top {
  border: 1px solid var(--color-neutral-muted);
}
.catalog__left {
  grid-column: 3 span;
  border-right: 1px solid var(--color-neutral-muted);
}
.catalog__right {
  grid-column: 9 span;
}
.catalog__filtered {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  padding: 24px 24px 24px 0;
}

.catalog__subtitle {
  padding: 27px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-primary);
}

.catalog__reset {
  font-size: 16px;
  line-height: 140%;
  color: var(--color-secondary);
}/*# sourceMappingURL=main.css.map */