.catalog {
  padding-bottom: 100px;

  &__top {
    border: 1px solid var(--color-neutral-muted);
  }

  &__left {
    grid-column: 3 span;
    border-right: 1px solid var(--color-neutral-muted);
  }

  &__right {
    grid-column: 9 span;
  }

  &__filtered {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    padding: 24px 24px 24px 0;
  }

  &__set {
    margin-left: calc(-1 * var(--gap));
    width: calc(100% + var(--gap));
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap) 0;
  }

  &__shows {
    font-size: 16px;
    line-height: 140%;
    color: var(--color-secondary);
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: var(--gap);

    &-item {
      grid-column: 3 span;
    }
  }

  &__pagination {
    margin-top: var(--gap);
  }
}

.catalog__subtitle {
  padding: 27px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color-primary);
}

.catalog__reset {
  font-size: 16px;
  line-height: 140%;
  color: var(--color-secondary);
}
