.header-search {
  position: relative;
  width: 100%;
  max-width: 400px;

  &__label {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__input {
    width: 100%;
    color: var(--color-primary);
    padding-left: 52px;

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: var(--color-secondary);
    }
  }

  &__icon {
    position: absolute;
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    aspect-ratio: 1;
  }
}
