body {
  font-family: var(--font-family);
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--color-surface-subtle);
}

.container {
  width: 100%;
  padding: 0 24px;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 12;
  background-color: rgba(26, 26, 26, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;

  &--visible {
    opacity: 1;
    visibility: visible;
  }
}

.simplebar-track.simplebar-vertical {
  right: 4px;
  width: 4px;
  background-color: var(--color-surface-subtle);
  border-radius: 10px;
}

.simplebar-scrollbar {
  &::before {
    inset: 0 !important;
    opacity: 1 !important;
    background-color: var(--color-secondary) !important;
    border-radius: 10px;
  }
}

.simplebar-content::after,
.simplebar-content::before {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--gap);
}
