@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont.woff2") format("truetype-variations");
  font-weight: 400 700;
  font-size: normal;
}

@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
