@font-face {
  font-family: "Inter";
  font-weight: 400 700;
  font-size: normal;
  src: url("../fonts/Inter-VariableFont.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Bebas";
  src: url("../../fonts/BebasNeue-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
